<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
 <style>
   .con{
     width: 900px;
     margin:auto;
     border: 10px aqua ;
   }
   .w3-table th{
    text-align: center;
    vertical-align: middle;
   }
   .w3-table td:first-child{
    text-align: center;
    vertical-align: middle;
   }
   .w3-table td{
    text-align: center;
    vertical-align: middle;
   }
 </style>
  <body>
    <div class="w3-container con">
      <center>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        
      </center>
      
      <a href="/logout" class="w3-button w3-grey" style="float:right;" >ออกจากระบบ</a>
      <a href="/main" class="w3-button w3-grey" style="float:right;" >ย้อนกลับ</a>

      <div class="w3-bar w3-blue w3-xlarge">
        
        <span class="w3-bar-item">ห้อง <%= roomname %></span>
       
      </div>
        
     
      <table class="w3-ul w3-card-4 w3-table w3-bordered" >
        <thead>
          <tr>
          <th style="width: 10%;">ลำดับ</th>
          <th>วันที่เริ่ม</th>
          <th>วันที่สิ้นสุด</th>
          <th>ชื่อ-สกุล</th>
          <th>เบอร์โทรศัพท์</th>
          <th style="width: 1%;"></th>
        </tr>
      </thead>
        <tbody>
          <% for(var i=0; i<data.length; i++) {%>
            <tr>
              <td><%= i+1 %></td>
              <td><%= moment(data[i].start).format('YYYY/MM/DD')  %></td>
              <td><%= moment(data[i].end).format('YYYY/MM/DD') %></td>
              <td><%= data[i].firstname+' '+data[i].lastname %> </td>
              <td><%= data[i].phone %></td>
              <td nowrap>
                <!-- <button class="w3-button w3-tiny">Tiny</button>  -->
                <button class="w3-button w3-red w3-small" onclick="location.href='/main/roomdetail/delete/<%= data[i]._id %>'">ลบ</button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <script src="/javascripts/moment.js"></script>
    <% if(typeof stat != "undefined"){ %>
      <script >
        alert("บันทึกการจองเรียบร้อย");
        location.href='/main';
      </script>
    <% } %>
  </body> 
</html>
